{% extends "templates.html" %}
{% block title %}SearchUsers{% endblock title %}
{% block body_1 %}
<br><br><br><h1 align="center">Search Users (By Name/Designation/Phone)</h1><br><br>
<form action="#" method="post" style="text-align:center">
    <b><p style="background-color:powderblue">Name<input type="text" name="name">
        Designation<input type="text" name="designation">
        PhoneNo<input type="text" name="phone"></p>
        <input type="submit" value="Search"></b>
</form>

{% endblock body_1 %}